<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>Servlet.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>Servlet.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>Servlet.DisplayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>Servlet.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeOrder</servlet-name>
        <servlet-class>Servlet.MakeOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCart</servlet-name>
        <servlet-class>Servlet.DeleteProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetails</servlet-name>
        <servlet-class>Servlet.PaymentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateCard</servlet-name>
        <servlet-class>Servlet.ValidateCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <servlet-class>Servlet.UpdateCartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrder</servlet-name>
        <servlet-class>Servlet.DisplayOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackBeast</servlet-name>
        <servlet-class>Servlet.BackBeast</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReferOrderDetails</servlet-name>
        <servlet-class>Servlet.ReferOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>Servlet.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaff</servlet-name>
        <servlet-class>Servlet.CreateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessMember</servlet-name>
        <servlet-class>Servlet.ProcessMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>Servlet.ProcessOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProduct</servlet-name>
        <servlet-class>Servlet.ProcessProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessReport</servlet-name>
        <servlet-class>Servlet.ProcessReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSales</servlet-name>
        <servlet-class>Servlet.ProcessSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStaff</servlet-name>
        <servlet-class>Servlet.ProcessStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>Servlet.StaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethod</servlet-name>
        <servlet-class>Servlet.PaymentMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/DisplayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeOrder</servlet-name>
        <url-pattern>/MakeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCart</servlet-name>
        <url-pattern>/DeleteProductCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetails</servlet-name>
        <url-pattern>/PaymentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateCard</servlet-name>
        <url-pattern>/ValidateCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <url-pattern>/UpdateCartQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrder</servlet-name>
        <url-pattern>/DisplayOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackBeast</servlet-name>
        <url-pattern>/BackBeast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReferOrderDetails</servlet-name>
        <url-pattern>/ReferOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaff</servlet-name>
        <url-pattern>/CreateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessMember</servlet-name>
        <url-pattern>/ProcessMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/ProcessOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProduct</servlet-name>
        <url-pattern>/ProcessProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessReport</servlet-name>
        <url-pattern>/ProcessReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSales</servlet-name>
        <url-pattern>/ProcessSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStaff</servlet-name>
        <url-pattern>/ProcessStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethod</servlet-name>
        <url-pattern>/PaymentMethod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
